<div class="container">
    <div class="header">
        <nav class="navbar">
            <li class="navbar-item hamburgur" id="navbar-icon" (click)="toggleMenu()">☰</li>
            <li class="navbar-item home" id="active" routerLink="/home">Home</li>
            <li class="navbar-item news" routerLink="/form">Form</li>
            <li class="navbar-item contact">Contact</li>
            <li class="navbar-item about">About</li>
        </nav>
    </div>
    <section class="section">
        <router-outlet></router-outlet>
    </section>

    <footer class="footer-section">

    </footer>
</div>
